.section {
    width: 65%;
    right: unset;
    min-height: unset;
    padding-bottom: unset;
    border-bottom: unset;
    font-family: Arial, sans-serif;
}

.section-heading {
    padding: 50px 0;
}

.section-heading h2{
    display: inline-block;
}

.section-heading span{
    margin: 0 0 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.section-heading select{
    width: 100px;
    height: 25px;
    border: 1px solid #fff;
}

#myc-nav-container{
    padding: 5px 0;
} 

#myc-nav-container, 
#myc-dates-container {
    background-color: #714031c4;
}

.info-container{
    text-align: left;
    background-color: #b9aeaecc;
    padding-left: 10px;
    font-weight: bold;
    color: #463c3c;
}

.info{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    margin-right: 5px;
}

.info.available{
    background-color: #bf5d37d6;
}

.info.booked{
    background-color: #463c3c;
}

@media only screen and (max-width: 1068px){
    .section{
        width: 70%;
    }

    .myc-date-header{
        padding: 10px 0px 10px 10px;
        width: 13%;
    }

    .myc-day-time-container:first-of-type {
        padding-left: unset;
    }

    .myc-day-time-container {        
        display: inline-block;
        height: 100%;
        padding: 10px;
        vertical-align: top;
        width: 13%;
    }    
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: unset;
    }

    #myc-nav-container{
        margin-bottom: unset;
    }

    #myc-prev-week-container{
        width: 10%;
    }

    .myc-day-time-container,
    .myc-date-header {
        padding: unset;
        font-size: 15px;
        width: 13%;
    }

    .myc-date-header:first-of-type,
    .myc-day-time-container:first-of-type {
        padding: unset;
    }

    .section-heading h2{
        display: block;
    }

    .section-heading select{
        margin-bottom: 15px;
    }
}